/**
 *
 * @description Styles
 *
 * @author C. M. de Picciotto <cmdepicciotto@gmail.com>
 *
 * @link https://www.youtube.com/watch?v=nzyOCd9FcCA&ab_channel=RaduMariescu-Istodor
 *
 */

/**
 *
 * @note Allow canvas to be full size
 *
 */
body {
    margin  : 0;
    overflow: hidden;
}

/**
 *
 * @note Container to center coordinate system/canvas
 *
 */
.coordinate-system {
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

/**
 *
 * @note Add canvas styles
 *
 */
#myCanvas {
    background-color: darkred;
}